* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat';
    color: #000000;
}

.wrapper {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-inline: 20px;
}

.wrapper ul {
    flex-wrap: nowrap;
    text-wrap: nowrap;  
}

img {
    max-width: 100%;
    height: auto;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 93px;
    background: #F6F5F4;
    /* box-shadow: inset 0px -1px 0px #E0E0E0; */
    border-bottom: 2px solid #E0E0E0;
}

nav {
    display: flex;
    gap: 34px;
    align-items: center;
}

.logo {
    font-family: 'Dela Gothic One';
    font-weight: 400;
    font-size: 20.8609px;
    line-height: 100%;
    letter-spacing: -0.02em;
}

nav ul {
    white-space: nowrap;
    display: flex;
    gap: 0 34px;
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -0.04em;
}

nav ul a {
    color: inherit;
}

.color {
    color: #757575;
}

.sign-in-text {
    font-weight: 600;
}

.sign-in p {
    display: flex;
    align-items: center;
    color: #757575;
}

.sign-up a {
    font-weight: 700;
}

.sign-in-up {
    display: flex;
    align-items: center;
    gap: 29px;
}

.sign-up {
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #000000;
}

.sign-in-up a {
    position: relative;
    padding-right: 12px;
    
    display: flex;
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.04em;
    color: #000000;
}

.sign-up img {
    position: absolute;
    width: 10px;
    transform: scale(1.0, 0.9) translateY(-35%);
    right: 0;
    top: 50%;
}

@media screen and (max-width:780px) {
    .wrapper {
        display: flex; 
        flex-wrap: wrap;
        justify-content: center;
        gap: 40px;
    }

    .sign-up img {
        transform: scale(1.0, 0.9) translateY(-50%);
    }

    .logo {
        font-size: 15.8609px;;
    }

    nav ul {
        gap: 0 34px;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: -0.04em;
    }
}

@media screen and (max-width:480px) {
    nav ul {
        gap: 0 20px;
        font-weight: 300;
        font-size: 12px;
    }

    .sign-in-text {
        font-weight: 400;
    }
}